In [121]:
import pandas as pd

In [122]:
content = pd.read_csv('./full_data.csv')

In [123]:
content.shape

(3693, 12)

In [124]:
content.drop_duplicates(inplace=True)

In [140]:
content.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1993 entries, 0 to 3692
Data columns (total 18 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   category                                                  1992 non-null   object
 1   piece                                                     1968 non-null   object
 2   chambres                                                  1955 non-null   object
 3   area                                                      1973 non-null   object
 4   price                                                     1992 non-null   object
 5   monthly                                                   1992 non-null   object
 6   description                                               1663 non-null   object
 7   Diagnostic de performance énergétique(kWhEP/m².an)        1461 non-null   float64
 8   Indice d'émission de gaz à effet de serre(kgeqCO2/m².an)  1416 non-null   float64
 9   plus                                                      1993 non-null   object
 10  type                                                      1993 non-null   object
 11  viager                                                    1993 non-null   int64
 12  commune                                                   1993 non-null   object
 13  centre_ville                                              1993 non-null   int64
 14  sud                                                       1993 non-null   int64
 15  nord                                                      1993 non-null   int64
 16  est                                                       1993 non-null   int64
 17  ouest                                                     1993 non-null   int64
dtypes: float64(2), int64(6), object(10)
memory usage: 295.8+ KB

In [126]:
content.category.unique()

array(['Maison / Villa', 'Appartement', 'Terrain',
       'Appartement<!-- --> en viager', 'Immeuble', 'Parking',
       'Loft/Atelier/Surface', 'Hôtel particulier', nan,
       'Maison / Villa<!-- --> en viager', 'Château', 'Local commercial'],
      dtype=object)

In [127]:
content['viager'] = 0

In [128]:
content.loc[content.category == 'Appartement<!-- --> en viager', 'viager'] = 1
content.loc[content.category == 'Maison / Villa<!-- --> en viager','viager'] = 1

In [129]:
content.loc[content.category == 'Appartement<!-- --> en viager', 'category'] = 'Appartement'
content.loc[content.category == 'Maison / Villa<!-- --> en viager', 'category'] = 'Maison / Villa'

In [130]:
content.category.value_counts()

Maison / Villa          1049
Appartement              905
Immeuble                  15
Terrain                   13
Loft/Atelier/Surface       5
Parking                    2
Château                    1
Hôtel particulier          1
Local commercial           1
Name: category, dtype: int64

In [131]:
content.localite = content.localite.str.strip().str.split('[\W_]+').str.join(' ')

In [132]:
content['commune'] = content.localite.apply(lambda s: str(s).split(' ')[-1])

In [133]:
content['centre_ville'] = 0
content['sud'] = 0
content['nord'] = 0
content['est'] = 0
content['centre_ville'] = 0

In [136]:
content.loc[content.localite.apply(lambda s: 'centre ville' in str(s).lower()), 'centre_ville'] = 1
content.loc[content.localite.apply(lambda s: 'sud' in str(s).lower()), 'sud'] = 1
content.loc[content.localite.apply(lambda s: 'nord' in str(s).lower()), 'nord'] = 1
content.loc[content.localite.apply(lambda s: 'est' in str(s).lower()), 'est'] = 1
content.loc[content.localite.apply(lambda s: 'ouest' in str(s).lower()), 'ouest'] = 1

In [139]:
content.drop(columns="localite",inplace=True)

In [ ]:

.